@using OutOfSchool.RazorTemplatesData.Models.Emails
@using OutOfSchool.RazorTemplatesData.Models.Shared
@using OutOfSchool.Services.Enums
@model ApplicationStatusViewModel

<main class="container">
    <div class="content">
        @if (Model.ApplicationStatus == ApplicationStatus.Approved)
        {
            <h1 class="title">Зараховано!</h1>
            <p class="text">Вітаємо!</p>
            <p class="text">@Model.ChildFullName</p>
            <p class="text">зарахован@(Model.UaEnding) до</p>
            <p class="text">
                <a href="@Model.WorkshopUrl" target="_blank">"@Model.WorkshopTitle"</a>
            </p>
        }
        else if (Model.ApplicationStatus == ApplicationStatus.Rejected)
        {
            <h1 class="title">Відмовлено</h1>
            <p class="text">На жаль,</p>
            <p class="text">@Model.ChildFullName</p>
            <p class="text">не може бути зарахован@(Model.UaEnding) до</p>
            <p class="text">
                <a href="@Model.WorkshopUrl" target="_blank">"@Model.WorkshopTitle"</a>
            </p>
            <p class="text">Причина:"@Model.RejectionMessage"</p>
        }
        else if (Model.ApplicationStatus == ApplicationStatus.AcceptedForSelection)
        {
            <h1 class="title">Вітаємо!</h1>
            <p class="text">@Model.ChildFullName</p>
            <p class="text">Прийнят@(Model.UaEnding) до конкурсного відбору до</p>
            <p class ="text">
                <a href="@Model.WorkshopUrl" target="_blank">"@Model.WorkshopTitle"</a>
            </p>
        }
        else
        {
            <h1 class="title">Вітаємо!</h1>
            <p class="text">Статус Вашої заявки змінився на:</p>
            <p class="text">@Model.ApplicationStatus</p>
        }
    </div>
</main>
