@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.ChangeEmailViewModel

@{
    ViewData["Title"] = SharedLocalizer["Change email"];
    Layout = "_Layout";
}

<div class="wrapper_body">
    <div class="wrapper">
        <h2 class="title">@SharedLocalizer["Change email"].Value.ToUpper()</h2>

        <h3 class="instruction">@SharedLocalizer["Enter new email message"].Value.ToUpper()</h3>
        <div class="warning">
            <img src="~/icons/warning.svg" class="warning_icon" alt="warning"><p>@SharedLocalizer["Change email alert"]</p>
        </div>
        <form asp-action="ChangeEmail">
            <input type="hidden" asp-for="ReturnUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label class="registration_label">@SharedLocalizer["Old email"]</label>
                <input class="registration_input" asp-for="CurrentEmail" />
                <div>
                    <span asp-validation-for="CurrentEmail"></span>
                </div>

                <label class="registration_label">@SharedLocalizer["New email"]</label>
                <input class="registration_input" asp-for="Email" />
                <div>
                    <span asp-validation-for="Email"></span>
                </div>
            <div class="registration_item">
                <input type="submit" value=@SharedLocalizer["Save"] class="registration_submit registration_button"/>
            </div>
        </form>
    </div>
</div>