@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.ChangeEmailViewModel

@{
    ViewData["Title"] = SharedLocalizer["Change email"];
    Layout = "_Layout";
}

<div class="wrapper modal" >
<h2 class="icon_title">@SharedLocalizer["Change email"].Value.ToUpper()</h2>

<h3 class="instruction">@SharedLocalizer["Enter new email message"].Value.ToUpper()</h3>
<div class="warning">
    <img src="/icons/warning.svg" class="warning_icon" alt="warning"><p>@SharedLocalizer["Change email alert"]</p>
</div>
    <form asp-action="ChangeEmail">
        <input type="hidden" asp-for="ReturnUrl" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <ul class="registration_list">
            <li class="registration_item">
                <label class="registration_label">@SharedLocalizer["Old email"]</label>
                <input class="registration_input" asp-for="CurrentEmail" />
                <div>
                    <span asp-validation-for="CurrentEmail"></span>
                </div>
            </li>
            <li class="registration_item">
                <label class="registration_label">@SharedLocalizer["New email"]</label>
                <input class="registration_input" asp-for="Email" />
                <div>
                    <span asp-validation-for="Email"></span>
                </div>
            </li>
        <li class="registration_item">
            <input type="submit" value="Save" class="registration_submit registration_button"/>
        </li>
        </ul>
    </form>
</div>
