@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.AuthCommon

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.AuthCommon.ViewModels.ChangePasswordLoginViewModel

@{
    ViewData["Title"] =  SharedLocalizer["Login with changing password"];
    Layout = "_Layout";
}

<div class="wrapper_body">
    <div class="wrapper">
        <h2 class="title">@SharedLocalizer["Login with changing password"].Value.ToUpper()</h2>

        <div class="warning">
            <img src="~/_content/auth/icons/warning.svg" alt="warning" class="warning_icon" ><p>@SharedLocalizer["Change password alert"]</p>
        </div>
        <form method="post">
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="ReturnUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label class="registration_label">@SharedLocalizer["Old password"]</label>
            <input class="registration_input" asp-for="CurrentPassword" autocomplete="password" aria-required="true" />
            <div>
                <span asp-validation-for="CurrentPassword"></span>
            </div>

            <label class="registration_label">@SharedLocalizer["New password"]</label>
            <input class="registration_input" asp-for="NewPassword" autocomplete="new-password" aria-required="true"/>
            <div>
                <span asp-validation-for="NewPassword"></span>
            </div>

            <label class="registration_label">@SharedLocalizer["Repeat new password"]</label>
            <input class="registration_input" asp-for="ConfirmNewPassword" autocomplete="new-password" aria-required="true"/>
            <div>
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>

            <div class="registration_item">
                <input type="submit" value=@SharedLocalizer["Save"] class="registration_submit registration_button"/>
            </div>
        </form>
    </div>
</div>