@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.LoginViewModel
@{
    ViewData["Title"] = SharedLocalizer["Entrance to Extracurricular activities"];
    Layout = "_Layout";
}

<div class="login__wrapper">
    <h1 class="login__text">@SharedLocalizer["Sign In With"]</h1>
</div>
@* <form asp-controller="Auth" asp-action="ExternalLogin" *@
@*       asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
@*     @foreach (var provider in Model.ExternalProviders) *@
@*     { *@
@*         <button name="provider" *@
@*                 type="submit" *@
@*                 value="@provider.Name"> *@
@*             @provider.Name *@
@*         </button> *@
@*     } *@
@* </form> *@

<form class="login__wrapper" asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label class="login__label">@SharedLocalizer["Login"]</label>
        <input class="login__input" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label class="login__label">@SharedLocalizer["Password"]</label>
        <input class="login__input" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <button class="login__button" type="submit">@SharedLocalizer["Sign In"]</button>
    </div>
</form>
<div class="login__wrapper">
    <a class="login__link" asp-controller="Auth" asp-action="Register"
       asp-route-returnUrl="@Model.ReturnUrl">
        @SharedLocalizer["Register"]
    </a>
</div>