@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.LoginViewModel
@{
    ViewData["Title"] = SharedLocalizer["Entrance to Extracurricular activities"];
    Layout = "_Layout";
}
<div class="wrapper_body">
    <div class="wrapper">
        <h1 class="icon_title">@SharedLocalizer["Sign In"].Value.ToUpper()</h1>
        <div class="icon_wrapper">
            <div class="icon_social">
                <a class="icon_social_link" href="''">
                    <img class="icon-image" src="~/icons/facebook.png" alt="facebook">
                </a>
                <a class="icon_social_link" href="''">
                    <img class="icon-image" src="~/icons/google.png" alt="google">
                </a>
            </div>
            <div class="option-short">@SharedLocalizer["or fill out the form"]</div>

            @* <form asp-controller="Auth" asp-action="ExternalLogin" *@
            @*       asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
            @*     @foreach (var provider in Model.ExternalProviders) *@
            @*     { *@
            @*         <button name="provider" *@
            @*                 type="submit" *@
            @*                 value="@provider.Name"> *@
            @*             @provider.Name *@
            @*         </button> *@
            @*     } *@
            @* </form> *@

            <form asp-controller="Auth" asp-action="Login" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <input type="hidden" asp-for="ReturnUrl"/>
                <div asp-validation-summary="ModelOnly"></div>
                <label class="registration_label">@SharedLocalizer["Email"]</label>
                <input class="registration_input" asp-for="Username"/>
                <div>
                    <span asp-validation-for="Username"></span>
                </div>
                <label class="registration_label">@SharedLocalizer["Password"]</label>
                <input class="registration_input" asp-for="Password"/>
                <div>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="title">
                    <button class="registration_submit registration_button" type="submit" >@SharedLocalizer["Sign In"]</button>
                </div>
                <div class="title">
                    <span>Ще не зареєстровані?</span>
                    <a class="link" asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Register"]</a>
                </div>

                <div class="title">
                    <span>Забули пароль?</span>
                    <a class="link" asp-controller="Account" asp-action="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Forgot"]</a>
                </div>
            </form>
        </div>
    </div>
</div>