@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.LoginViewModel
@{
    ViewData["Title"] = SharedLocalizer["Entrance to Extracurricular activities"];
    Layout = "_Layout";
}
    <div class="wrapper">
        <div class="icon_wrapper">
        <h3 class="icon_title">@SharedLocalizer["Увійти"].Value.ToUpper()</h3>
        <div class="icon_social">
            <button class="icon_button">
                <img src="/icons/fb.png" alt="facebook">
            </button>
            <button class="button">
                <img src="/icons/google.png" alt="google">
            </button>
        </div>
      <div class="option">або заповніть форму</div>

@* <form asp-controller="Auth" asp-action="ExternalLogin" *@
@*       asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
@*     @foreach (var provider in Model.ExternalProviders) *@
@*     { *@
@*         <button name="provider" *@
@*                 type="submit" *@
@*                 value="@provider.Name"> *@
@*             @provider.Name *@
@*         </button> *@
@*     } *@
@* </form> *@

<form class="login__wrapper" asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div asp-validation-summary="ModelOnly"></div>
     <ul class="registration_list">
        <li class="registration_item">
            <label class="registration_label">@SharedLocalizer["Емейл"]</label>
            <input class="registration_input" asp-for="Username" />
            <div>
            <span asp-validation-for="Username"></span>
            </div>
        </li>
          <li class="registration_item">
            <label class="registration_label">@SharedLocalizer["Пароль"]</label>
            <input class="registration_input" asp-for="Password" />
            <div>
            <span asp-validation-for="Password"></span>
            </div>
        </li>

        <li class="registration_item">
        <button class=" registration_submit"  type="submit">@SharedLocalizer["Увійти"]</button>
        </li>
    </ul>
    <div class="registration_login">
<span>Ще не зареєстровані?</span>
    <a class="link" asp-controller="Auth" asp-action="Register"
       asp-route-returnUrl="@Model.ReturnUrl">
        @SharedLocalizer["Зареєструватися"]
    </a>
</div>
</form>
</div>
</div>