@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = SharedLocalizer["Registration for Extracurricular activities"];
    Layout = "_Layout";
}
<div class="wrapper_body">
    <div class="wrapper">
        <h1 class="icon_title">@SharedLocalizer["Register"].Value.ToUpper()</h1>
        <div class="icon_wrapper">
            <h5 class="icon_subtitle">@SharedLocalizer["To be able to apply to clubs or become a service provider"]</h5>
            <div class="icon_social">
                <a class="icon_social_link" href="''">
                    <img class="icon-image" src="~/icons/facebook.png" alt="facebook">
                </a>
                <a class="icon_social_link" href="''">
                    <img class="icon-image" src="~/icons/google.png" alt="google">
                </a>
            </div>
            <div class="option">@SharedLocalizer["or fill out the form"]</div>
            <form onsubmit="return validateForm(this)" onkeyup="validateFormOnKeyUp(this)" asp-controller="Auth" asp-action="Register" method="post">
                <input type="hidden" asp-for="ReturnUrl"/>
                <div asp-validation-summary="ModelOnly"></div>
                <ul class="registration_list">
                    <li class="registration_item">
                        <label class="registration_label">
                            @SharedLocalizer["Register as"]<span class="registration_star">*</span>
                        </label>
                        <div class="registration_as">
                            <div class="registration_type registration_type-active" id="btn_parent">
                                <div class="registration_icon registration_icon-person">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.99984 5.99984C7.47317 5.99984 8.6665 4.8065 8.6665 3.33317C8.6665 1.85984 7.47317 0.666504 5.99984 0.666504C4.5265 0.666504 3.33317 1.85984 3.33317 3.33317C3.33317 4.8065 4.5265 5.99984 5.99984 5.99984ZM5.99984 7.33317C4.21984 7.33317 0.666504 8.2265 0.666504 9.99984V11.3332H11.3332V9.99984C11.3332 8.2265 7.77984 7.33317 5.99984 7.33317Z" fill="#272425"/>
                                    </svg>
                                </div>
                                @SharedLocalizer["User"]
                            </div>
                            <div class="registration_type" id="btn_provider">
                                <div class="registration_icon registration_icon-provider">
                                    <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.66683 6.6665V11.3332H3.66683V6.6665H1.66683ZM5.66683 6.6665V11.3332H7.66683V6.6665H5.66683ZM0.333496 14.6665H13.0002V12.6665H0.333496V14.6665ZM9.66683 6.6665V11.3332H11.6668V6.6665H9.66683ZM6.66683 0.666504L0.333496 3.99984V5.33317H13.0002V3.99984L6.66683 0.666504Z" fill="#272425"/>
                                    </svg>
                                </div>
                                @SharedLocalizer["Service provider"]
                            </div>
                            <div class="registration_divider"></div>

                        </div>
                    </li>

                    <li class="registration_item">
                        <label class="registration_label" asp-for="LastName">
                            @SharedLocalizer["Last name"]<span class="registration_star">*</span>
                        </label>
                        <input class="registration_input registration_input_required" type="text" asp-for="LastName" id="last_name">
                        <div>
                            <span asp-validation-for="LastName"></span>
                        </div>

                    </li>
                    <li class="registration_item">
                        <label class="registration_label" asp-for="FirstName">
                            @SharedLocalizer["First name"]<span class="registration_star">*</span>
                        </label>
                        <input class="registration_input registration_input_required" type="text" asp-for="FirstName" id="first_name">
                        <div>
                            <span asp-validation-for="FirstName"></span>
                        </div>
                    </li>
                    <li class="registration_item">
                        <label class="registration_label" asp-for="MiddleName">@SharedLocalizer["Middle name"]</label>
                        <input class="registration_input registration_input_unrequired" type="text" asp-for="MiddleName" id="middle_name">
                        <div>
                            <span asp-validation-for="MiddleName"></span>
                        </div>
                    </li>
                    <li class="registration_item">
                        <label class="registration_label" asp-for="PhoneNumber">
                            @SharedLocalizer["Phone"]<span class="registration_star">*</span>
                        </label>
                        <div class="registration_phone">
                            <div class="registration_phone-code">+38</div>
                            <input class="registration_input registration_input_required" maxlength="10" type="text" asp-for="PhoneNumber" id="phone_number">
                        </div>
                        <div>
                            <span asp-validation-for="PhoneNumber"></span>
                        </div>
                    </li>
                    <li class="registration_item">
                        <label class="registration_label" asp-for="Email">
                            @SharedLocalizer["Email"]<span class="registration_star">*</span>
                        </label>
                        <input class="registration_input registration_input_required" type="email" asp-for="Email" id="user_mail">
                        <div>
                            <span asp-validation-for="Email"></span>
                        </div>
                    </li>
                    <li class="registration_item registration_item-password">
                        <div>
                            <label class="registration_label" asp-for="Password">
                                @SharedLocalizer["Password"]<span class="registration_star">*</span>
                            </label>
                            <input class="registration_input registration_input-password registration_input_required" type="Password" asp-for="Password" id="password">
                            <div class="registration_privacy_password">
                                <img src="~/icons/ic_eye.svg" alt="eye" class="registration_eye" id="password_eye">
                            </div>
                        </div>
                        <div>
                            <span asp-validation-for="Password"></span>
                        </div>
                    </li>
                    <li class="registration_item registration_item-tip">
                        <div class="registration_tip">
                            @SharedLocalizer["The password must be at least 6 characters long"]
                        </div>
                    </li>
                    <li class="registration_item">
                        <div>
                            <label class="registration_label" asp-for="ConfirmPassword">
                                @SharedLocalizer["Confirm password"]<span class="registration_star">*</span>
                            </label>
                            <input class="registration_input registration_input-password registration_input_required" type="password" asp-for="ConfirmPassword" id="repeat_password">
                            <div class="registration_privacy_confirm_password">
                                <img src="~/icons/ic_eye.svg" alt="eye" class="registration_eye" id="confirm_password_eye">
                            </div>
                        </div>
                        <div>
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </li>
                    <li class="registration_item registration_item-maturity">
                        <input type="checkbox" name="maturity">
                        <label for="maturity">@SharedLocalizer["I am 18 years old"]</label>
                        <div class="maturity" id="maturity">
                            @SharedLocalizer["You must be over 18 to register!"]
                        </div>
                    </li>
                    <li class="registration_item registration_item-accept">
                        @SharedLocalizer["By registering I agree with"]
                        <a href="#" class="link">@SharedLocalizer["Terms of use"]</a>
                        @SharedLocalizer["and consent to the processing of personal data"]
                    </li>

                    <li class="registration_item">
                        <input class="registration_submit registration_button" type="submit" id="btn_register" name="Parent" value="@SharedLocalizer["Register"].Value.ToUpper()">
                    </li>
                    <div class="title">
                        @SharedLocalizer["Already registered?"]
                        <a class="link" asp-controller="Auth" asp-action="Login"asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Sign In"]</a>
                    </div>
                </ul>
            </form>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>