@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] =  SharedLocalizer["Forgot password"];
    Layout = "_Layout";
}

<div class="wrapper_body">
    <div class="wrapper">
        <h2 class="title">@SharedLocalizer["Reset password"].Value.ToUpper()</h2>

        <h3 class="instruction">@SharedLocalizer["Enter your email to send password recovery instructions"]</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <form asp-action="ForgotPassword">
            <input type="hidden" asp-for="ReturnUrl" />
            <label class="registration_label">@SharedLocalizer["Email"]</label>
            <input class="registration_input" asp-for="Email" autocomplete="password" aria-required="true" />
            <div>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="registration_item">
                <input type="submit" value="@SharedLocalizer["Reset password"].Value.ToUpper()" class="registration_submit registration_button"/>
            </div>
        </form>

        <div class="title">
            <span>Згадали пароль? <a class="link" asp-controller="Auth" asp-action="Login"asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Sign In"]</a></span>
        </div>
    </div>
</div>