@using Microsoft.AspNetCore.Mvc.Localization
@using OutOfSchool.IdentityServer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model OutOfSchool.IdentityServer.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] =  SharedLocalizer["Reset password"];
    Layout = "_Layout";
}

<div class="wrapper_body">
    <div class="wrapper">
        <h2 class="title">@SharedLocalizer["Reset password"].Value.ToUpper()</h2>

        <div class="warning">
            <img src="/icons/warning.svg" alt="warning" class="warning_icon" ><p>@SharedLocalizer["Change password alert"]</p>
        </div>
        <form method="post" class="wrapper">
            <input type="hidden" asp-for="Token" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label class="registration_label">@SharedLocalizer["Email"]</label>
            <input class="registration_input" asp-for="Email" autocomplete="username" aria-required="true" />
            <div>
                <span asp-validation-for="Email"></span>
            </div>
            <label class="registration_label">@SharedLocalizer["Password"]</label>
            <input class="registration_input" asp-for="Password" autocomplete="new-password" aria-required="true"/>
            <div>
                <span asp-validation-for="Password"></span>
            </div>

            <label class="registration_label">@SharedLocalizer["Confirm password"]</label>
            <input class="registration_input" asp-for="ConfirmPassword" autocomplete="new-password" aria-required="true"/>
            <div>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="registration_item">
                <input type="submit" value="Save" class="registration_submit registration_button"/>
            </div>
        </form>
    </div>
</div>
